<form #f="ngForm">
  <label for="color">Enter a color: </label>
  <input id="color" name="color" ngModel/>
</form>
<div class="border">
  <canvas width="1000" height="800" #canvas (click)="onCanvasClick($event)"></canvas>
</div>


